<link rel="stylesheet" href="css/style1.css">
<br></br>
<div class="center">
    <img src="assets/img/when-we-clean-logo.png" alt="">
</div>
<div class="row columns">
    <div class="translucent-form-overlay">
        <form>
            <h3 class="center">Create an account</h3>
            <br>
            <div class="sign-in-form">
                <label for="sign-in-form-username">Create new Username</label>
                <input type="text" class="sign-in-form-username" id="sign-in-form-username">
                <label for="sign-in-form-password">Create new Password</label>
                <input type="text" class="sign-in-form-password" id="sign-in-form-password">
                <label for="sign-in-form-password">Confirm new Password</label>
                <input type="text" class="sign-in-form-password" id="sign-in-form-password">
                <button type="submit" class="sign-in-form-button">Confirm</button>
            </div>
            </br>
        </form>
    </div>
</div>