<!-- Navbar -->
<div class="md-tabs">
    <div class="mobile-nav-bar title-bar">
        <div class="title-bar-center">
            <!-- Logo -->
            <span class="title-bar-text">
                <img src="assets/img/when-we-clean-logo.png" alt="" class="imgHead">
            </span>
        </div>
    </div>
</div>

<!-- Dashboard Container -->
<div class="row columns">
    <!-- Sidebar -->
    <div class="columns large-4">
        <!-- Time Card -->
        <div class="translucent-form-overlay">
            <form class="form-wrapper-time-card">
                <div>
                    <h2>Time Card</h2>
                    <p class="gray-subtitle-text">January 13, 2021</p>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                            </div>
                            <!-- Time Display -->
                            <div class="columns">
                                <h1 id="timer">00:00:00</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Clock In and Out Buttons -->
                <div class="row">
                    <a id="clock-in-button" class="button button-rounded-hover" onclick="startTimer(this)">
                        <h4>IN</h4>
                    </a>
                    <a id="clock-out-button" class="button button-rounded-hover" onclick="resetTimer()">
                        <h4>Out</h4>
                    </a>
                </div>
        </div>
        <br>
        <!-- Manage Team Card (THIS WILL BE DELETED AT SOME POINT) -->
        <div class="translucent-form-overlay">
            <div>
                <h2>Manage Team</h2>
                <p class="gray-subtitle-text">Manager Team Name</p>
            </div>
            <!-- Button Stack -->
            <div class="column row manage-team-button-wrapper">
                <a id="view-team-button" class="button button-rounded-hover manage-team-button-stack">View
                    Shifts</a>
                <a id="create-shift-button" class="button button-rounded-hover manage-team-button-stack">Create
                    Shift</a>
                <a id="update-shift-button" class="button button-rounded-hover manage-team-button-stack">Update
                    Shift</a>
                <a id="delete-shift-button" class="button button-rounded-hover manage-team-button-stack">Delete
                    Shift</a>
            </div>
        </div>
        <br>
        <!-- My Profile Card (THIS WILL BE DELETED AT SOME POINT) -->
        <div id="my-profile-card" class="translucent-form-overlay">
            <div>
                <h2>My Profile</h2>
                <p class="gray-subtitle-text">Manager Name</p>
            </div>
            <div class="column row manage-team-button-wrapper">
                <a class="button button-rounded-hover manage-team-button-stack myBtn">Update Profile</a>
            </div>
        </div>
    </div>

    <!-- Modal 1 (Update Profile) -->
    <div id="Modal1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="form-wrapper-time-card">
                <div>
                    <h3>Update Profile</h3>
                    <p class="gray-subtitle-text">Employee Name</p>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">First Name:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="John">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">Last Name:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="Smith">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">Phone Number:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="123-456-7890">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">Email:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="example@example.com">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">Current
                                    Password:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="xxxxxxxxxx">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">New Password:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="xxxxxxxxxx">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column row modal-wrapper">
                    <a class="button button-rounded-hover modal-submit-button">Submit</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal 2 (Create Schedule) -->
    <div id="Modal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="form-wrapper-time-card">
                <div>
                    <h3>Create Schedule</h3>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">First Name:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="John">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">Last Name:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="Smith">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">Days:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="Mon, Tue, Thu">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline label-text-white">Times:</label>
                            </div>
                            <div class="columns">
                                <input type="text" id="right-label" placeholder="9:00 AM - 5:00 PM">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column row modal-wrapper">
                    <a class="button button-rounded-hover modal-submit-button">Submit</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Calendar Dashboard -->
    <div>
        <!-- Calendar Wrapper -->
        <div class="columns large-8">
            <!-- Date Display -->
            <span>
                <h1>January 2021</h1>
            </span>
            <!-- Dropdown Button -->
            <div class="dropdown">
                <a onclick="myFunction()" class="button button-rounded-hover dropbtn"><i
                        class="fas fa-caret-down"></i></i></a>
                <div id="myDropdown" class="dropdown-content">
                    <a id="edit-button" href="#">Edit Schedule</a>
                    <a href="#">Delete Schedule</a>
                </div>
            </div>
            <!-- Create Schedule Button -->
            <a id="create-shift-button" class="button button-rounded-hover myBtn create-shift-button">Create
                Schedule</a>
            <table>
                <tr>
                    <th class="emp-name">Employee</th>
                    <th class="day-name">Sun</th>
                    <th class="day-name">Mon</th>
                    <th class="day-name">Tue</th>
                    <th class="day-name">Wed</th>
                    <th class="day-name">Thu</th>
                    <th class="day-name">Fri</th>
                    <th class="day-name">Sat</th>
                </tr>
                {{#each employees}}
                {{> schedules/schedule-block this }}
                {{/each}}
                {{!-- <tr>
                    <td class="emp"><span class="number">Sarah</span></td>
                    <td class="day cell-night-shift"><span class="number">Night</span></td>
                    <td class="day cell-night-shift"><span class="number">Night</span></td>
                    <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                    <td class="day cell-night-shift"><span class="number">Night</span></td>
                    <td class="day cell-off-day"><span class="number">Off</span></td>
                    <td class="day cell-off-day"><span class="number">Off</span></td>
                    <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                </tr> --}}
                {{!-- <tr>
                    <td class="emp"><span class="number">Carlos</span></td>
                    <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                    <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                    <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                    <td class="day cell-off-day"><span class="number">Off</span></td>
                    <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                    <td class="day cell-off-day"><span class="number">Off</span></td>
                    <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                </tr>
                <tr>
                    <td class="emp"><span class="number">Victor</span></td>
                    <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                    <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                    <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                    <td class="day cell-off-day"><span class="number">Off</span></td>
                    <td class="day cell-off-day"><span class="number">Off</span></td>
                    <td class="day cell-night-shift"><span class="number">Night</span></td>
                    <td class="day cell-night-shift"><span class="number">Night</span></td>
                </tr>
                <tr>
                    <td class="emp"><span class="number"></span></td>
                    <td class="day"><span class="number"></span></td>
                    <td class="day"><span class="number"></span></td>
                    <td class="day"><span class="number"></span></td>
                    <td class="day"><span class="number"></span></td>
                    <td class="day"><span class="number"></span></td>
                    <td class="day"><span class="number"></span></td>
                    <td class="day"><span class="number"></span></td>--}}
                </tr>
            </table>
        </div>
    </div>
</div>


<script src="js/script2.js" type="text/javascript"></script>
<script src="js/user.js" type="text/javascript"></script>
<script src="js/view.js" type="text/javascript"></script>