<div class="translucent-form-overlay">
    <form class="form-wrapper-time-card">
        <div>
            <h3>Time Card</h3>
            <p id="date-time-card">January 13, 2021</p>
        </div>
        <div class="row">
            <div class="grid-x small-x">
                <div class="row">
                    <div class="small-2 columns">
                        <label for="right-label" class="right inline">Start:</label>
                    </div>
                    <div class="columns">
                        <input type="time" id="right-label" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid-x small-x">
                <div class="row">
                    <div class="small-2 columns">
                        <label for="right-label" class="right inline">End:</label>
                    </div>
                    <div class="columns">
                        <input type="time" id="right-label" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="translucent-form-overlay">
            <form>
                <h3>Manage Team</h3>
                <br>
                <div class="row columns">
                    <a class="button button-rounded-hover">View Team</a>
                </div>
                <div class="row columns">
                    <a class="button button-rounded-hover">Create New Schedule</a>
                </div>
                <div class="row columns">
                    <a class="button button-rounded-hover">Update Current Schedule</a>
                </div>
                <div class="row columns">
                    <a class="button button-rounded-hover">Delete Schedule</a>
                </div>
            </form>
        </div>
        <BR>
        <div class="translucent-form-overlay">
            <form>
                <h3>Profile Information</h3>
                <div class="row columns">
                    <label>Name
                        <input type="text" name="keyword" placeholder="Any">
                    </label>
                </div>
                <div class="row columns">
                    <label>Contact Information
                        <input type="text" name="keyword" placeholder="Any">
                    </label>
                </div>
                <div class="row columns">
                    <label>Account
                        <input type="text" name="keyword" placeholder="Any">
                    </label>
                </div>
            </form>
        </div>
</div>
<div class="columns large-8">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

    <table>
        <tr>
            <th class="emp-name">Employee</th>
            <th class="day-name">Sun</th>
            <th class="day-name">Mon</th>
            <th class="day-name">Tue</th>
            <th class="day-name">Wed</th>
            <th class="day-name">Thu</th>
            <th class="day-name">Fri</th>
            <th class="day-name">Sat</th>
        </tr>
        <tr>
            <td class="emp"><span class="number">Tom</span></td>
            <td class="day"><span class="number">31</span></td>
            <td class="day"><span class="number">1</span><span class="event"></span><span class="event"></span></td>
            <td class="day"><span class="number">2</span></td>
            <td class="day"><span class="number">3</span><span class="event event-multiday-start"></span></td>
            <td class="day"><span class="number">4</span><span class="event event-multiday"></span><span
                    class="event event-multiday-start eventclass" style="background-color:#5a9ab2;"></span><span
                    class="event"></td>
            <td class="day"><span class="number">5</span><span class="event event-multiday-finish"></span><span
                    class="event event-multiday eventclass" style="background-color:#5a9ab2;"></span></td>
            <td class="day"><span class="number">6</span><span class="event event-ghost"></span><span
                    class="event event-multiday-finish eventclass" style="background-color:#5a9ab2;"></span></td>
        </tr>
        <tr>
            <td class="emp"><span class="number">Merisa</span></td>
            <td class="day"><span class="number">7</span></td>
            <td class="day"><span class="number">8</span><span class="event"></span></td>
            <td class="day"><span class="number">9</span></td>
            <td class="day"><span class="number">10</span></td>
            <td class="day"><span class="number">11</span></td>
            <td class="day"><span class="number">12</span></td>
            <td class="day"><span class="number">13</span></td>
        </tr>
        <tr>
            <td class="emp"><span class="number">Sam</span></td>
            <td class="day"><span class="number">14</span></td>
            <td class="day"><span class="number">15</span></td>
            <td class="day"><span class="number">16</span><span class="event"></span></td>
            <td class="day"><span class="number">17</span><span class="event"></span></td>
            <td class="day"><span class="number">18</span></td>
            <td class="day"><span class="number">19</span></td>
            <td class="day"><span class="number">20</span></td>
        </tr>
        <tr>
            <td class="emp"><span class="number">Jeff</span></td>
            <td class="day"><span class="number">21</span></td>
            <td class="day"><span class="number">22</span></td>
            <td class="day"><span class="number">23</span></td>
            <td class="day"><span class="number">24</span></td>
            <td class="day"><span class="number">25</span></td>
            <td class="day"><span class="number">26</span></td>
            <td class="day"><span class="number">27</span><span class="event event-multiday-start"
                    style="background-color:#da5f5f;"></td>
        </tr>
        <tr>
            <td class="emp"><span class="number">Sarah</span></td>
            <td class="day"><span class="number">28</span><span class="event event-multiday"
                    style="background-color:#da5f5f;"></td>
            <td class="day today"><span class="number">29</span><span class="event event-multiday-finish"
                    style="background-color:#da5f5f;"></td>
            <td class="day"><span class="number">30</span></td>
            <td class="day"><span class="number">1</span></td>
            <td class="day"><span class="number">2</span></td>
            <td class="day"><span class="number">3</span></td>
            <td class="day"><span class="number">4</span></td>
        </tr>
        <tr>
            <td class="emp"><span class="number">Steve</span></td>
            <td class="day"><span class="number">5</span></td>
            <td class="day"><span class="number">6</span><span class="event"></span></td>
            <td class="day"><span class="number">7</span></td>
            <td class="day"><span class="number">8</span></td>
            <td class="day"><span class="number">9</span></td>
            <td class="day"><span class="number">10</span></td>
            <td class="day"><span class="number">11</span></td>
        </tr>
    </table>
</div>
</div>