<!-- Dashboard Container -->
<div class="row columns">
    <div class="columns large-4">

        <!-- Time Card -->
        <div class="translucent-form-overlay">
            <form class="form-wrapper-time-card">
                <div>
                    <h3>Time Card</h3>
                    <p class="gray-subtitle-text">January 13, 2021</p>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline">Start:</label>
                            </div>
                            <div class="columns">
                                <input type="time" id="right-label" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-x small-x">
                        <div class="row">
                            <div class="small-2 columns">
                                <label for="right-label" class="right inline">End:</label>
                            </div>
                            <div class="columns">
                                <input type="time" id="right-label" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <a id="clock-in-button" class="button button-rounded-hover">
                    <h4>IN</h4>
                </a>
                <a id="clock-out-button" class="button button-rounded-hover">
                    <h4>Out</h4>
                </a>
            </div>
        </div>

        <br>

        <!-- Manage Team Card -->
        <div class="translucent-form-overlay">
            <div>
                <h3>Manage Team</h3>
                <p class="gray-subtitle-text">Manager Team Name</p>
            </div>
            <div class="column row manage-team-button-wrapper">
                <a id="view-team-button" class="button button-rounded-hover manage-team-button-stack">View Shifts</a>
                <a id="create-shift-button" class="button button-rounded-hover manage-team-button-stack">Create
                    Shift</a>
                <a id="update-shift-button" class="button button-rounded-hover manage-team-button-stack">Update
                    Shift</a>
                <a id="delete-shift-button" class="button button-rounded-hover manage-team-button-stack">Delete
                    Shift</a>
            </div>
        </div>

        <br>

        <!-- My Profile Card -->
        <div id="my-profile-card" class="translucent-form-overlay">
            <div>
                <h3>My Profile</h3>
                <p class="gray-subtitle-text">Manager Name</p>
            </div>
            <div class="column row manage-team-button-wrapper">
                <a id="update-profile-button" class="button button-rounded-hover manage-team-button-stack">Update
                    Profile</a>
            </div>
        </div>
    </div>

    <!-- Calendar -->
    <div class="columns large-8">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
        <table>
            <tr>
                <th class="emp-name">Employee</th>
                <th class="day-name">Sun</th>
                <th class="day-name">Mon</th>
                <th class="day-name">Tue</th>
                <th class="day-name">Wed</th>
                <th class="day-name">Thu</th>
                <th class="day-name">Fri</th>
                <th class="day-name">Sat</th>
            </tr>
            <tr>
                <td class="emp"><span class="number">Sarah</span></td>
                <td class="day cell-night-shift"><span class="number">Night</span></td>
                <td class="day cell-night-shift"><span class="number">Night</span></td>
                <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                <td class="day cell-night-shift"><span class="number">Night</span></td>
                <td class="day cell-off-day"><span class="number">Off</span></td>
                <td class="day cell-off-day"><span class="number">Off</span></td>
                <td class="day cell-morning-shift"><span class="number">Morning</span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number">Carlos</span></td>
                <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                <td class="day cell-off-day"><span class="number">Off</span></td>
                <td class="day cell-morning-shift"><span class="number">Morning</span></td>
                <td class="day cell-off-day"><span class="number">Off</span></td>
                <td class="day cell-swing-shift"><span class="number">Swing</span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number">Victor</span></td>
                <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                <td class="day cell-swing-shift"><span class="number">Swing</span></td>
                <td class="day cell-off-day"><span class="number">Off</span></td>
                <td class="day cell-off-day"><span class="number">Off</span></td>
                <td class="day cell-night-shift"><span class="number">Night</span></td>
                <td class="day cell-night-shift"><span class="number">Night</span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
            <tr>
                <td class="emp"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
                <td class="day"><span class="number"></span></td>
            </tr>
        </table>
    </div>
</div>