<link rel="stylesheet" href="css/style1.css">

<div class="logo">
    <img src="assets/img/when-we-clean-logo.png" alt="logo">
</div>
<div class="row columns">
    <div class="translucent-form-overlay">
        <form>
            <h3 class="">Portal Login</h3>
            <br>
            <div class="sign-in-form">
                <label class="form-label" for="sign-in-form-username"><p>Email</p></label>
                <input class="form-input" type="text" class="sign-in-form-username" id="sign-in-form-username">
                <label class="form-label" for="sign-in-form-password"><p>Password</p></label>
                <input class="form-input" type="password" class="sign-in-form-password" id="sign-in-form-password">
                <button type="submit" class="sign-in-form-button" id="sign-in-form-login-btn">Login</button>
            </div>
            </br>
            <div id="create-account" class="">
                <a  href="/register"><p2>Create an Account</p2> </a>
            </div>
        </form>
    </div>
</div>
<script src="js/script1.js"></script>
<script src="js/login.js" type="text/javascript"></script>