<link rel="stylesheet" href="css/style1.css">
<br></br>
<div class="center">
    <img src="assets/img/when-we-clean-logo.png" alt="">
</div>
<div class="row columns">
    <div class="translucent-form-overlay">
        <form>
            <h3 class="center">Create an account</h3>
            <br>
            <div class="sign-in-form">
                <label for="sign-up-form-first-name">First Name</label>
                <input type="text" class="sign-in-form-username" id="sign-up-form-first-name"
                name="First Name"
                required>
                <label for="sign-up-form-last-name">Last Name</label>
                <input type="text" class="sign-in-form-username" id="sign-up-form-last-name" name="Last Name"
                required>
                <label for="sign-up-form-phone">Phone Number</label>
                <input type="text" class="sign-in-form-username" id="sign-up-form-phone" name="Phone Number"
                required>
                <label for="sign-up-form-email">email</label>
                <input type="text" class="sign-in-form-username" id="sign-up-form-email"
                name="Email"
                required>
                <label for="sign-up-form-password">Password</label>
                <input type="password" class="sign-in-form-password" id="sign-up-form-password" name="Password"
                required>
                <label for="sign-up-form-confirm-password">Confirm Password</label>
                <input type="password" class="sign-in-form-password" id="sign-up-form-confirm-password" name="Confirm Password"
                required>
                <input type="checkbox" id="sign-up-form-is-manager">
                <label for="sign-up-form-is-manager">Check if you are a Manager</label>
                <button id="sign-up-form-register-btn" type="submit" class="sign-in-form-button">Register</button>
            </div>
            </br>
        </form>
    </div>
</div>
<script src="js/register.js" type="text/javascript"></script>;