body {
  background-color: black;
}

h1 {
  color: white;
  display: inline-block;
}

h2 {
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 21px;
}

.gray-subtitle-text {
  margin-top: -20px;
  margin-bottom: 20px;
  color: rgb(179, 179, 179);
  text-align: center;
}

.white-text {
  color: white;
}

.cell-morning-shift {
  color: white;
  background-color: #01a1f1;
}

.cell-swing-shift {
  color: white;
  background-color: #33a853;
}

.cell-night-shift {
  color: white;
  background-color: #f65314;
}

.cell-off-day {
  color: gray;
  background-color: rgb(221, 221, 221);
}

.create-shift-button {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
}



#my-profile-card {
  margin-bottom: 25px;
}

.md-tabs > .mobile-nav-bar {
  background-color: rgba(54, 54, 54, 0.8);
  margin-bottom: 15px;
  padding: 0 !important;
}

table {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  font-family: "Ubuntu"; /*border-collapse: collapse;*/
  border-spacing: 0;
  background-color: #333333;
  float: right;
  border-radius: 5% !important;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

th {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #292929;
  letter-spacing: 1px;
}

td {
  transition: all 0.3s;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 5%;
  vertical-align: initial;
  padding: 1.5% 0;
  height: 75px;
}

.emp {
  color: black;
}

.day:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.today {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

span.number {
  margin-left: 10%;
}

.imgHead {
  height: 90px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

.form-wrapper-time-card {
  padding: 10px;
}

#time-field {
  border-radius: 10px;
  margin-top: -20px;
}

.form-inline {
  flex-direction: column;
  align-items: stretch;
}

#clock-in-button {
  background-color: #33a853;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

#clock-out-button {
  background-color: #ea4335;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

.manage-team-button-wrapper {
  padding-left: 60px;
}

.manage-team-button-stack {
  background-color: #4385f4;
  height: 40px;
  margin-top: -10px;
  width: 170px;
  font-size: 14px;
}

/* Gray Sidebar Card Styling */

.translucent-form-overlay {
  max-width: 300px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
  text-align: center;
  border-radius: 5px;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

/* BUTTON START */

.button-rounded-hover {
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 5px;
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: "";
  border-radius: inherit;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.5;
}

/* BUTTON END */

/* MODAL START */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: rgba(54, 54, 54, 1);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
}

.close {
  color: rgb(253, 253, 253);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form-overlay {
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);

  color: #fefefe;
  border-radius: 5px;
}

.modal-submit-button {
  background-color: #4385f4;
  height: 40px;
  margin-top: 40px;
  width: 170px;
  font-size: 14px;
}

.modal-wrapper {
  text-align: center;
}

/* MODAL END */

.mega-menu .dropdown-pane {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto !important;
  left: 0% !important;
  right: 0% !important;
}

.mega-menu .menu {
  background: none;
}

.mega-menu > a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: "";
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #1779ba transparent transparent;
  margin-left: 10px;
  margin-top: 11%;
}

/* DROPDOWN MENU START */

.dropdown {
  float: right;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(244, 244, 244);
}

.show {
  display: block;
}

/* DROPDOWN MENU END */